<div class="home__page">
    <div class="navbar">
        <p>STUDENT-TUTOR</p>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/signup">
                <li>Signup</li>
            </a>
            <a href="/login">
                <li>Login</li>
            </a>
        </ul>
    </div>
    <div class="main__content">
        <p>WELCOME TO STUDENT-TUTOR PROJECT</p>

        <button (click)="navFunction()">
            Login
        </button>
    </div>
</div>