<div>
    <div class="navbar">
        <p>STUDENT-TUTOR</p>
        <ul>
            <a href="/studenthomepage">
                <li>Home</li>
            </a>
            <a href="/mycourses">
                <li>My Courses</li>
            </a>
            <a href="/">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <table id="customers">
        <tr>
            <th>Course Id</th>
            <th>Tutor Name</th>
            <th>Subject</th>
            <th>Course Fee</th>
            <th>Select</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Maria Anders</td>
            <td>HTML</td>
            <td>10,000</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria Anders</td>
            <td>CSS</td>
            <td>10,000</td>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Maria Anders</td>
            <td>JS</td>
            <td>10,000</td>
            <td><input type="checkbox" /></td>
        </tr>

    </table>
</div>