<div>

    <div class="navbar">
        <p>STUDENT-TUTOR</p>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/signup">
                <li>Signup</li>
            </a>
            <a href="/login">
                <li>Login</li>
            </a>
        </ul>
    </div>
    <div>
        <p class="signup__title">LOGIN ACCOUNT</p>
    </div>
    <div class="input__fields">

        <div class="input__field">

            <input type="email" placeholder="Enter Email" />
        </div>
        <div class="input__field">

            <input type="password" placeholder="Enter Password" />
        </div>
        <div class="input__field">
            <select>
                <option>Pick Role</option>
                <option>Tutor</option>
                <option>Student</option>
            </select>
        </div>
        <button class="login__btn" (click)="LoginFunction()">
            Submit
        </button>
    </div>
</div>